%html
  %head
    %title
    %meta{:content => "metatags"}
    %link{:rel => "stylesheet", :href => ""}/
  %body
    .casper
      %div
        hello world!
        %span
          %a{:href => "#"}
            Wow this is cool!
          %a.cldd.bod{:href => "#", :id => "dfsdf"}
            devam
      .deffgt
        durakla
      .column4
        devam et